<!DOCTYPE html>
<html>
  <head>
    <title>Tutorial</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" media="all" href="assets/application.css">
  </head>

  <body>
    <%= yield %>
    <script src="assets/welcome.js"></script>
  </body>
</html>
